.gridContainer {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c";
    gap: 20px;
    flex-grow: 1;
    max-height: 600px;
}
