.formInput {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
}

.formLabel {
    width: 100%;
    color: white;
}

.form {
    width: 100%;
}

.btn {
    border-radius: 40px;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: none;
    margin-right: 10px;
    background-color: rgb(220, 44, 229);
    color: white;
    transition: transform 0.1s ease;
}

.btn:active {
    transform: scale(0.95);
}

.title {
    color: white;
    margin-bottom: 40px;
}

.e {
    color: red;
    margin: 0px;
}
