.btn {
    border-radius: 40px;
    width: 250px;
    height: 50px;
    padding: 0px 20px;
    border: none;
    margin-right: 10px;
    background-color: rgb(220, 44, 229);
    color: white;
    transition: transform 0.1s ease;
}

.btn:active {
    transform: scale(0.95);
}
