.leftsidebardiv {
    width: 200px;
    color: black;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.linkcontainer {
    margin: 20px 0px;
    color: #666;
    padding: 0.8rem 1rem;
    font-size: 17px;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    transition: all 0.2s ease;
}

.linkcontainer:hover {
    transform: scale(1.02);
    background-color: #f0f2f5;
    color: #1a73e8;
}

.active {
    background-color: #e8f0fe;
    color: #1a73e8;
}

.navLinks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

.settings {
    margin-top: auto;
}

.sitename {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #1a73e8;
}

.icon {
    height: 100%;
    margin-right: 10px;
}
