.slider {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sliderOn {
    background-color: #007bff;
}

.knob {
    width: 16px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.knobOn {
    transform: translateX(25px);
}
