.react-calendar {
    background-color: rgb(50, 50, 50);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.react-calendar__tile {
    border-radius: 50%;
    text-align: center;
}

.react-calendar__month-view__days__day {
    width: 51px;
    height: 51px;
    color: white;
}

.react-calendar__month-view__days__day:hover {
    border: 2px solid rgb(220, 44, 229) !important;
    background-color: rgb(50, 50, 50) !important;
}

.react-calendar__tile--active {
    background-color: transparent !important;
    color: white;
    border-radius: 50%;
}

.react-calendar__tile--now {
    background-color: rgb(220, 44, 229) !important;
    color: white;
}

.react-calendar__navigation {
    margin-bottom: 1rem;
}
